*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #070707;
}
.clock{
    width: 350px;
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border: 5px solid #070707;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.06),
                inset 0 -15px 15px rgba(255,255,255,0.06),
                0 -15px 15px rgba(255,255,255,0.06),
                inset 0 -15px 15px rgba(0,0,0,0.06);
}